RewriteEngine On

# 1. Force le HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 2. Optionnel : Force le WWW (si tu veux que l'URL soit toujours www.proxiclean...)
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 3. Gestion de la page 404
ErrorDocument 404 /404.html