---
import {Image} from "astro:assets";
import logo from '../assets/logo2.png';

const currentYear = new Date().getFullYear();
---
<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10 flex flex-col items-center text-center sm:grid sm:text-left sm:items-start">

    <!-- logo gauche -->
    <aside class="flex flex-col items-center">
        <a href="/">
            <Image 
                src={logo}
                alt="Proxi'Clean - Entreprise de nettoyage professionnel à Toulouse"
                width={150}
                height={150}
                class="w-full h-full object-contain"
                loading="lazy" 
            />
            <!-- <img src="/logo2.png" alt="Logo PROXI'CLEAN - Services de nettoyage professionnel" class="w-30 mb-2" /> -->
        </a>
    </aside>
    <nav class="flex flex-col items-center sm:items-start">
        <a href="/#services"><h6 class="footer-title">Nos Services</h6></a>
        <a href="/entretien" class="link link-hover">Entretien régulier</a>
        <a href="/specifique" class="link link-hover">Prestations spécifiques</a>
    </nav>
    <nav class="flex flex-col items-center sm:items-start">
        <h6 class="footer-title">L'entreprise</h6>
        <a href="/contact" class="link link-hover">Contact</a>
        <a href="/rejoindre" class="link link-hover">Rejoignez-nous</a>
    </nav> 
    <nav class="flex flex-col items-center sm:items-start">
        <h6 class="footer-title">Informations</h6> 
        <a href="/mentions-legales" class="link link-hover">Mentions légales</a>
        <a href="/politique" class="link link-hover">Politique de confidentialité</a>
    </nav>
</footer>

<div class="footer footer-center p-4 bg-base-300 text-base-content border-t border-base-100">
    <aside class="flex flex-col sm:flex-row gap-2 sm:gap-4 items-center opacity-75">
        <p>© {currentYear} Proxi'Clean Services - Tous droits réservés.</p>
        <span class="hidden sm:inline">|</span>
        <a href="mailto:oufrid31@outlook.fr" class="hover:text-secondaryTheme transition-colors duration-300">
            Réalisation : <span class="font-bold">wilbou.dev</span>
        </a>
    </aside>
</div>